*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* Header and Nav Styles */
nav{
    display: flex;
    justify-content: space-between;
    padding: 51px 180px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}
.text-primary{
    color: #FD6E0A;
}

nav ul{
    display: flex;
    align-items: center;
}

nav li{
    list-style: none;
    margin-left: 20px;
}

.btn-primary{
    padding: 18px 35px;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    height: 64px;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;

}

.btn-secondary{
    color: #FD6E0A;
    border-color: #FD6E0A;
    padding: 16px 35px;
    font-weight: 700;
    font-size: 20px;
    border-radius: 5px;
    margin-left: 30px;
}

.header{
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}
/* banner styles */

.banner{
    display: inline-flex;
    align-items: center;
    margin: 0 180px;
}

.banner-title{
    font-weight: 700;
    font-size: 85px;
    width: 498px;
    
}

.banner-sub-title{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}

.banner-description{
    color: #757575;
    margin-bottom: 30px;
}

/* Main Section Style */

main{
    max-width: 1140px;
    margin: 0 auto;
}
/* About Styles */

.about{
    text-align: center;
    margin-top: 130px;
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
}

.section-title{
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 50px;
}

.section-description{
    font-size: 18px;
    color: #757575;
    margin-bottom: 40px;
}

.about-info-container{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.info-title{

    font-size: 20px;
    color: #757575;
}

.info-description{
    font-weight: 700;
    font-size: 20px;
}

/* What I Do section Styles */

.section-description{
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

.what-i-do{
    margin-top: 130px;
}

.skills-container{
    display: flex;
    gap: 24px;
    
}

.skills{
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;
    margin-top: 50px;
}

.skill-title{
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
    
}

.skill-description{
    color: #757575;
}


/* resume styles */

.resume{
    margin-top: 130px;
}

.resume-item{
    margin-bottom: 30px;
    margin-top: 30px;
}

.resume-content{
    display: flex;
    gap: 24px;
}

.resume .title{
    color: #474747;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;
    
}

.resume .sub-title{
    color: #757575;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}

.resume .description{
    color: #757575;
    
}

hr{
    border: 1px solid #D1D1D1;
}

.download-resume{
    margin-top: 50px;
    text-align: center;
}

/* Content styles */

.content{
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    padding: 130px 200px;
}


.content .section-title{
    text-align: left;
}
.content .section-description{
    color: #474747;
    font-weight: 400;
}

.content a{
    text-decoration: none;
}

.content input[type="text"], input[type="email"], textarea{
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}